.market-trend {
    color: #fff;
    margin: 7rem 0 20rem 0;
}

.headings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.trend-title {
    color: var(--color-primary);
    opacity: 0;
    transform: translateY(2rem);
    transition: all 1s ease;
}

.trend-heading {
    line-height: 1.3;
    background: -webkit-linear-gradient(30deg, #a9a9a9, #797878, #444444);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 1s ease;
}

.trend-description {
    background: -webkit-linear-gradient(30deg, #9a9a9a, #383838);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 1s ease;
}

.market-trend-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.market-trend-navigation ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.trend-hidden-items {
    font-size: 0.7rem;
    padding: 0.6rem ;
    background: hsla(0, 0%, 26%, 0.266);
    border-radius: 5px;
    border: 0.2px solid hsla(0, 0%, 71%, 0.11);
    opacity: 0;
    transform: translateY(2rem);
    transition: all 0.4s ease;
}

.trend-input {
    background: rgba(13, 74, 8, 0.322);
    height: 1rem;
    color: #fff;
    padding: 0.6rem 0.6rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    width: max-content;
    opacity: 0;
    transform: translateY(2rem);
    transition: all 0.4s ease;
}
@media (min-width: 320px) {
    .headings {
        margin: 0 auto;
        text-align: center;
    }
    
    .trend-heading {
        font-size: 2rem;
        font-weight: 500;
        width: 75%;
    }

    .trend-description  {
        width: 65%;
        font-size: 0.8rem;
        line-height: 2;
    }
}

@media (max-width: 650px) {
    
    .market-trend-navigation {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .market-trend-navigation ul {
        justify-content: space-between;
    }

}

@media (min-width: 1024px) {
    .trend-heading {
        font-size: 2.5rem;
        width: 60%;
    }
    .trend-description {
        font-size: 1rem;
        width: 50%;
    }
}

.show {
    opacity: 1;
    transform: translateY(0px);
}