@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* box-sizing: border-box; */
    outline: 0;
    border: 0;
}

:root {
    --color-primary: #89cd46;
    --color-disabled: #a09f9f;
    --color-accent: #446329;
    --color-bg: #131416;
    --color-active: #fff;
    --container-lg: 80%;
}

body {
    background: #131416;
    font-family: "Poppins";
    width: var(--container-lg);
    margin: 0 auto;
    overflow-x: hidden;
}

.blob {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    /* display: none; */
}

.blob1, .blob2 {
    position: absolute;
    height: 40rem;
    width: 40rem;
}

.blob1 {
    right: 10rem;
    top: 0rem;
    z-index: -1;
    animation-delay: 2s;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(100px) opacity(0.4);

}



.blob2 {
    right: 0rem;
    top: 0rem;
    z-index: -2;
    animation: rotate 5s infinite;
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(100px) opacity(0.4);
}

@keyframes rotate {
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

nav {
    color: var(--color-active);
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 2rem auto 2rem;
    align-items: center;
    display: none;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 500;

}
nav div.nav-items {
    display: flex;
    gap: 0.5rem;
}

.nav-links {
    padding: 1rem;
}

.nav-button {
    padding: 1rem 2.5rem;
    background: rgba(13, 74, 8, 0.322);
    color: #fff;   
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-button:hover {
    background-color: rgba(17, 105, 9, 0.905);
    cursor: pointer;
}

/* HERO DIV */
.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.hero-heading {
    text-align: center;
    line-height: 1.5;
    margin-top: 6rem;
    background: -webkit-linear-gradient(30deg, #a9a9a9, #797878, #444444);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-paragraph {
    text-align: center;
    line-height: 2;

    background: -webkit-linear-gradient(30deg, #9a9a9a, #383838);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
}

.get-started-button {
    padding: 1rem 2.5rem;
    color: var(--color-active);
    background: var(--color-primary);
    border-radius: 5px;
    transition: all 0.4s ease;
    border: 1px solid var(--color-primary)
}

.get-started-button:hover {
    background-color: rgba(17, 105, 9, 0.905);
    cursor: pointer;
}



.watch-tutorials-button{
    color: var(--color-active);
    display: flex;
    gap: 1rem;
    align-items: center;
}

svg.play-icon {
    width: 50px;
}

/* USER INFO */

.user-info {
    display: flex;
    color: var(--color-disabled);
    gap: 4rem;
    margin-top: 1.5rem;
}

.user-info span {
    font-weight: 700;
    color: var(--color-active);
}


/* Extra classes */
.h:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (min-width: 320px) {
    .blob {
        flex-direction: column;
    }

    .hero-heading {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    
    .hero-paragraph {
        font-size: 0.8rem;
        width: 70%;
        line-height: 1.5;
    }
    /* HERO BUTTONS */
    .buttons-container {
        flex-direction: column;
    }
    /* USER INFO */
    .user-info {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .partner-links {
        gap: 0;
    }
    .partner-links > [class="coin"] {
        width: 12rem;
    }
}

@media (min-width: 480px) {
    .hero-heading {
        font-size: 1.3rem;
        line-height: 1.4;
        width: 80%;   
    }

    .hero-paragraph {
        font-size: 1rem;
        line-height: 1.7;
    }
}

@media (min-width: 600px){

    .hero-heading {
        width: 90%;
    }

    .buttons-container {
        flex-direction: row;
    }

    .user-info {
        flex-direction: row;
        gap: 4rem;
    }
}
@media (min-width: 768px) {

    .blob{
        flex-direction: row;
    }

    .hero-heading {
        font-size: 1.5rem;
        width: 100%;
        line-height: 1.5;
        width: 100%;
    }

    .hero-paragraph {
        line-height: 2;
    }
}

@media (min-width: 1024px) {

    .hero-heading {
        font-size: 1.5rem;
    }

    .hero-paragraph {
        width: 50%;
    }
    .partner-links {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .hero-heading {
        font-size: 1.8rem;
    }
}