@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

:root {
    --color-primary: #93dc49;
    --color-disabled: #646464;
    --color-accent: #446329;
}