@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

:root {
    --color-primary: #93dc49;
    --color-disabled: #a09f9f;
    --color-accent: #446329;
    --color-bg: #131416;
    --color-active: #fff;
    --container-lg: 80%;
}

body {
    background: #131416;
    font-family: "Poppins";
    width: var(--container-lg);
    margin: 0 auto;
}

nav {
    color: var(--color-active);
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 2rem auto 2rem;
    align-items: center;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 500;

}
nav div.nav-items {
    display: flex;
    gap: 2rem;
}

.nav-links {
    transition: all 0.4s ease;
}

.nav-button {
    padding: 0.9rem 1.5rem;
    background: rgba(13, 74, 8, 0.322);
    color: #fff;   
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-button:hover {
    background-color: rgba(17, 105, 9, 0.905);
    cursor: pointer;
}

.h:hover {
    cursor: pointer;
}